@media (max-width: 1200px) {
  .container .row .frame iframe {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 567px) {
  .carousel-inner {
    height: 500px !important;
  }
  .main-slide,
  .main-slide1 {
    flex-direction: column !important;
  }
  .main-slide .slide1 {
    width: 100% !important;
    height: 25vh !important;
    align-items: center;
  }
  .main-slide .slide-2,
  .slide3,
  .slide4 {
    margin-top: 10px;
    width: 100% !important;
    height: 25vh !important;
  }
}

@media (max-width: 800px) {
}
