@media (max-width: 1200px) {
  .container .row .frame iframe {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 567px) {
  .carousel-inner {
    height: 500px !important;
  }
  .row .Slider {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
}
